---
const year = new Date().getFullYear();
---

<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__logo">tastify</div>
      <div class="footer__copyright">&copy; {year} tastify</div>
      <div class="footer__author">
        Made by <a href="https://cristobalgrana.me/" target="_blank" rel="noopener noreferrer">Cris Graña</a>
      </div>
    </div>
  </div>
</footer>
